.dark-theme div.jsoneditor-field,
.dark-theme div.jsoneditor-value,
.dark-theme div.jsoneditor td,
.dark-theme div.jsoneditor th,
.dark-theme div.jsoneditor textarea,
.dark-theme .jsoneditor-schema-error,
.dark-theme .ace-jsoneditor.ace_editor {
    -webkit-text-stroke-width: 0px;
}


.dark-theme .mat-toolbar.mat-primary {
	background: linear-gradient(to bottom, #3a3a3a, #555555) !important;
	box-shadow: 0 3px 5px -1px rgba(255, 255, 255, 0.2),
		0 6px 10px 0 rgba(255, 255, 255, 0.14),
		0 1px 18px 0 rgba(255, 255, 255, 0.12);
}

.dark-theme .mat-raised-button.mat-primary {
	background: linear-gradient(to bottom, #3a3a3a, #555555) !important;
	box-shadow: 0 3px 1px -2px rgba(255, 255, 255, 0.2), 0 2px 2px 0 rgba(255, 255, 255, 0.14), 0 1px 5px 0 rgba(255, 255, 255, 0.12) !important;
}

.dark-theme .reset.mat-raised-button {
    background: #2e2e2e;
}

.dark-theme .json-option .mat-checkbox-frame {
	border-color: #bcbcbc;
}

.dark-theme .json-option {
	color: #bcbcbc;
}

.dark-theme ::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	cursor: pointer;
	background: rgb(88, 88, 88);
}

.confirmation-dark {
	width: 360px;
}

.confirmation-dark .mat-dialog-container {
	padding: 15px;
	border-radius: 2px;
	overflow: hidden;
	background: #525252;
	color: #fff;
}

.confirmation-dark .mat-dialog-container h1 {
	font-size: 18px;
	background: #848484;
	margin: -15px;
	margin-bottom: 10px;
	padding: 10px 15px;
	color: #fff;
	font-weight: 400;
}

.confirmation-dark .mat-dialog-content {
	margin: -10px -16px;
	margin-bottom: 10px;
	padding: 5px 15px;
	font-size: 16px;
}

.confirmation-dark .mat-dialog-actions {
	padding: 5px 10px;
	margin: -15px;
	display: inline-block;
	float: right;
	min-height: 40px;
}

.confirmation-dark button.mat-button {
	float: right;
	right: 0px;
}

.confirmation-dark .mat-raised-button {
	color: #ffffff;
	background: #838383;
}

/* Track */
.dark-theme ::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

/* Handle */
.dark-theme ::-webkit-scrollbar-thumb {
	background: #9b9b9b;
	border-radius: 0px;
	cursor: pointer;
}

.dark-theme .ace_editor.ace-jsoneditor {
	border: 1px solid #545454;
}

.dark-theme div.jsoneditor-tree {
	border: 1px solid #3d3d3d;
}

.dark-theme .ace-jsoneditor .ace_scroller {
	background-color: #232323;
}

.dark-theme .ace-jsoneditor .ace_marker-layer .ace_selection {
	background: #808080;
}

.dark-theme .ace-jsoneditor .ace_marker-layer .ace_active-line {
	background: #545454;
}

.dark-theme .ace-jsoneditor .ace_text-layer {
	color: #f3f3f3;
}

.dark-theme .ace-jsoneditor .ace_variable {
	color: #f8f8f8 !important;
}

.dark-theme .ace-jsoneditor .ace_constant.ace_numeric {
	color: #ff4444;
}

.dark-theme .ace-jsoneditor .ace_constant.ace_language {
	color: #ff4444;
}

.dark-theme .ace-jsoneditor .ace_string {
	color: #0dda16 !important;
}

.dark-theme .jsoneditor-readonly {
	color: #e9e9e9;
}

.dark-theme div.jsoneditor-value.jsoneditor-array,
.dark-theme div.jsoneditor-value.jsoneditor-object {
	color: #e9e9e9;
}

.dark-theme div.jsoneditor-field {
	color: #f8f8f8;
}

.dark-theme div.jsoneditor-value.jsoneditor-string {
	color: #0dda16 !important;
}

.dark-theme div.jsoneditor td.jsoneditor-separator {
	color: #f2f2f2;
}

.dark-theme div.jsoneditor-value.jsoneditor-number {
	color: #ff3d26;
}

.dark-theme div.jsoneditor-value.jsoneditor-null {
	color: #65bbff;
}

.dark-theme div.jsoneditor-menu {
	background: linear-gradient(to bottom, #3a3a3a, #555555);
}

.dark-theme .jsoneditor-statusbar {
	color: #fff;
	background: #3d3d3d;
	border: none;
}

.dark-theme div.jsoneditor-navigation-bar {
	color: #fff;
	background: #3d3d3d;
	border: none;
	line-height: 31px;
}

.dark-theme tr.jsoneditor-highlight,
.dark-theme tr.jsoneditor-selected {
	background-color: #545454;
}

.dark-theme div.jsoneditor-field.jsoneditor-highlight,
.dark-theme div.jsoneditor-field[contenteditable=true]:focus,
.dark-theme div.jsoneditor-field[contenteditable=true]:hover,
.dark-theme div.jsoneditor-value.jsoneditor-highlight,
.dark-theme div.jsoneditor-value[contenteditable=true]:focus,
.dark-theme div.jsoneditor-value[contenteditable=true]:hover {
	background-color: #545454;
	border: 1px solid #232323;
}

.dark-theme div.jsoneditor-tree button {
	filter: contrast(2) brightness(10);
}

.dark-theme div.jsoneditor-tree button:focus {
	background-color: rgba(255, 255, 255, 0.14);
	outline: 1px solid rgba(229, 229, 229, 0.26);
}

.dark-theme div.jsoneditor-contextmenu ul {
    background: #3d3d3d;
    border: 1px solid #616161;
}

.dark-theme div.jsoneditor-contextmenu div.jsoneditor-separator{
    border-color: #616161;
}

.dark-theme div.jsoneditor-contextmenu ul li button.jsoneditor-expand{
    border-color: #616161;
}

.dark-theme div.jsoneditor-contextmenu ul li button div.jsoneditor-expand {
	filter: contrast(2) brightness(10);
}

.dark-theme div.jsoneditor-contextmenu ul li button {
    -webkit-text-stroke-width: 0px;
    color: #fff;
}

.dark-theme div.jsoneditor-contextmenu ul li ul li button:focus,
.dark-theme div.jsoneditor-contextmenu ul li ul li button:hover {
	background-color: #7c7c7c;
}

.dark-theme .ace-jsoneditor .ace_gutter {
	background: #333333;
	color: #fff;
}

.dark-theme .ace_content {
	background: #232323;
}

.dark-theme .jsoneditor-tree {
	background: #232323;
}

.dark-theme tr.jsoneditor-highlight .jsoneditor-tree,
.dark-theme tr.jsoneditor-selected .jsoneditor-tree {
	background: #545454;
}

.dark-theme div.jsoneditor-contextmenu ul li button {
	filter: none;
}

.dark-theme div.jsoneditor-contextmenu ul li button:focus,
.dark-theme div.jsoneditor-contextmenu ul li button:hover {
	background-color: #7d7d7d;
}

.dark-theme .ace-jsoneditor .ace_gutter-active-line {
	background-color: #797979;
}

.dark-theme table.jsoneditor-search div.jsoneditor-frame {
	background-color: #565656;
}

.dark-theme div.jsoneditor .jsoneditor-search input {
	color: #fff;
}

.dark-theme .ace-jsoneditor .ace_marker-layer .ace_selected-word {
	border: 1px solid #808080;
}

.dark-theme .ace-jsoneditor .ace_cursor {
	border-left: 2px solid #e6e6e6;
}

.dark-theme .ace-jsoneditor .ace_indent-guide {
	filter: contrast(0);
}

.dark-theme .jsoneditor-modal .pico-modal-header {
	background: #848484 !important;
}

.dark-theme .jsoneditor-modal {
	background: #525252 !important;
	color: #fff !important;
}

.dark-theme .jsoneditor-modal table td,
.dark-theme .jsoneditor-modal table th {
	color: #fff;
}

.dark-theme .jsoneditor-modal .jsoneditor-jmespath-label {
	color: #fff;
}

.dark-theme .jsoneditor-modal #query,
.dark-theme .jsoneditor-modal .jsoneditor-transform-preview {
	background-color: #787878;
	color: #fff;
	border-color: #343434;
}

.dark-theme .jsoneditor-modal select,
.dark-theme .jsoneditor-modal input,
.dark-theme .jsoneditor-modal .selectr-selected {
	background: #707070;
	color: #fff;
	border-color: #515151;
}

.dark-theme .jsoneditor-modal .selectr-placeholder {
	color: #fff;
}

.dark-theme .selectr-option {
	background-color: #707070;
}

.dark-theme .selectr-option.active {
	color: #fff;
	background-color: #3883fa;
}

.dark-theme .selectr-input-container {
	background: #525252;
}

.dark-theme .selectr-options-container {
	border-color: #474747;
}

.dark-theme .selectr-clear::before,
.dark-theme .selectr-clear::after,
.dark-theme .selectr-input-clear::before,
.dark-theme .selectr-input-clear::after,
.dark-theme .selectr-tag-remove::before,
.dark-theme .selectr-tag-remove::after {
	background-color: #fff;
}

.dark-theme .selectr-selected::before {
	border-color: #ffffff transparent transparent;
}

.dark-theme div.jsoneditor div.jsoneditor-anchor .picker_wrapper.popup.popup_bottom {
    background: #6d6d6d;
}

.dark-theme .picker_editor input {
    background: #232323;
    color: #fff;
}